.app {
  display: flex;
}

.sidebar {
  width: 80px;
    background-color: #1a0931;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
}

.logo {
  width: 50px;
  height: 50px;
}

.main-content {
  flex: 1;
  padding-left: 100px;
  color: #1a0931;
  top: 0;
  position: sticky;
}

.quarters {
  display: flex;
  gap: 20px;
  color: #1a0931;
}

.quarter-section {
  flex: 1;
  background-color: white;
  padding: 20px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  /* min-height: 10px; */
}